body{
    width: 100%;
    overflow-x: hidden;
}
.navbar-brand{
    paddding-top: 0;
}

.navbar-toggler{
    display: none;
}

.navbar-expand-lg{
    width: 100%;
    box-sizing: border-box;
    padding: 30px 80px;
    background-color: #242b33 !important;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

}
.navbar-brand img{
    width: 50px;
}
.navbar-brand span{
    font-size: 23px;
    font-weight: bold;
    color: #fff;
    position: relative;
    top: 3px;
}
.navbar-expand-lg .navbar-collapse{
    position: relative;
}
.navbar-expand-lg .navbar-collapse .nav-item a .cn{
    font-size: 10px;
    line-height:12px;
    display: none;
}

#pull{
    display: none;
    position: fixed;
    top: 115px;
    right: 0;
    height: 50px;
    background-color: rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 999999999999999999999999;
}
#pull img{
    width: 30px;
    margin-top: 10px;
}
#navBar{
    width: 100%;
    position: fixed;
    right: -100%;
    top: 115px;
    z-index: 999999999999999;
    font-size: 16px;
    display: none;
    border: 1px solid #072538;
    box-sizing: border-box;
}
.navBar .navBar-nav{
    overflow: hidden;
    background-color: rgba(255,255,255,0.3);
    padding: 0;
    margin: 0;
}
.navBar .navBar-nav .nav-item{
    display: inline-block;
    float: left;
    box-sizing: border-box;
}


.navBar .navBar-nav .nav-link:hover{
    color: #0fd6f3;
}
.navBar .navBar-nav .nav-link:link{
    color: #fff;
}
.navBar .navBar-nav .nav-link:visited{
    color: #fff;
}
.navBar .navBar-nav .nav-link{
    color: #fff;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.navbar-expand-lg .navbar-nav{
    position: absolute;
    right: 0;
    font-size: 16px;
    /*font-weight: bold;*/
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #0fd6f3;
}
.navbar-light .navbar-nav .nav-link:link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:visited{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}
.navbar-light .nav-download{
    display: inline-block;
    height: 50px;
    line-height: 50px;
    /*padding: 0 15px;*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #0dcde2;
    margin-left: 20px;
}
.navbar-light .nav-download:hover{
    background-color: #0fd6f3;
}
.navbar-light .navbar-nav .td{
    padding: 0;
    width: 130px;
    margin-right: 10px;
    text-align: center;
}

.nav-download .nav-link{
    text-align: center;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: #0fd6f3;
}
.navbar-light .navbar-toggler{
    border-color: #fff;
    background-color: #fff;
    outline: none;
}
.navBar .nav-download{
    display: inline-block;
    width: 70px;
    height: 50px;
    line-height: 50px;
    /*padding: 0 15px;*/
}
.navBar .navBar-nav .nav-download .nav-link{
    text-align: center;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color:#0dcde2;
    margin-top: 5px;
}
.navBar .navBar-nav .nav-download .nav-link:hover{
    background: #0fd6f3;
}

.navbar-light .navBar-nav .active>.nav-link, .navbar-light .navBar-nav .nav-link.active, .navbar-light .navBar-nav .nav-link.show, .navbar-light .navBar-nav .show>.nav-link{
    color: #0fd6f3;
}
.navbar-light .navbar-toggler{
    border-color: #fff;
    background-color: #fff;
    outline: none;
}
.posi-wallet img{
    height: 20px;
    margin-top: -2px;
}
.posi-wallet{
    font-size: 14px;
    color: #fff;
}
.navbar-brand{
    padding-bottom: 0;
}
.footer{
    width: 100%;
    padding: 0 120px;
    padding-top: 60px;
    box-sizing: border-box;
    background:url("../images/index6.jpg") no-repeat;
    background-size: 100% 100%;

    color: #fff;
}
#subscribe-input{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.getNews{
    line-height: 38px;
    font-size: 14px;
    margin: 0 auto;
    font-weight: 600;
}
#subscribe-input-wraper{
    max-width: 700px;
    margin: 30px auto;
    text-align: center;
}
.subscribe-input-container{
    margin: 0 auto;
}
.input-group-append{
    position: relative;
    z-index: 9;
}
.input-group-append img{
    height: 20px;
    position: absolute;
    top: 9px;
    left: -30px;
}
#list-wraper ul{
    text-align: left;
}
#list-wraper ul li{
    color: #fff;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}
#list-wraper ul li a{
    color: #c6c8ca;
    font-size: 12px;
    font-weight: normal;
    text-decoration-line: none;
    outline: none;
}
#list-wraper ul li a:hover{
    color: #fff;
}
#footer-link{
    max-width: 550px;
    margin: 0 auto;
}
#footer-link div{
    padding: 18px;
 }
#footer-link div a{
    display: block;
    width: 40px;
    height: 40px;
}
#footer-link div .footer-link-one{
    background: url("../images/1.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-one:hover{
    background: url("../images/7.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-two{
    background: url("../images/2.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-two:hover{
    background: url("../images/8.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-three{
    background: url("../images/3.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-three:hover{
    background: url("../images/9.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-four{
    background: url("../images/4.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-four:hover{
    background: url("../images/10.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-five{
    background: url("../images/5.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-five:hover{
    background: url("../images/11.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-six{
    background: url("../images/6.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-six:hover{
    background: url("../images/12.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-seven{
    background: url("../images/13.png") no-repeat;
    background-size: 100% 100%;
}
#footer-link div .footer-link-seven:hover {
    background: url("../images/14.png") no-repeat;
    background-size: 100% 100%;
}

#footer-link div{
    position: relative;
}

 #footer-link div span{
    width:60px;
    height:15px;
    text-align: center;
     font-size:10px;
    border-radius: 3px;
    color:rgba(255,255,255,0.6);
    position: absolute;
    left:10px;
     top:0px;
    background:rgba(0,160,196,0.7);
    display: none;

}
#footer-link div:hover span{
    display: block;
}
/*#footer-link div:hover .arrow-down{*/
    /*display: block;*/
/*}*/
/*#footer-link div .arrow-down {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-left:5px solid transparent;*/
    /*border-right: 5px solid transparent;*/
    /*border-top: 5px solid rgba(0,160,196,0.77);*/
    /*position: absolute;*/
    /*left:26px;*/
    /*top:5px;*/
    /*display: none;*/
/*}*/





.arrow_box{
    animation: glow 0.6s ease-out 4;
}
@keyframes glow {
    0% {
        border-color: #0fd6f3;
        box-shadow: 0 0 5px rgba(15,214,243,.2), inset 0 0 5px rgba(15,214,243,.1), 0 1px 0 #0fd6f3;
    }
    100% {
        border-color: #0fd6f3;
        box-shadow: 0 0 20px rgba(15,214,243,.6), inset 0 0 10px rgba(15,214,243,.4), 0 1px 0 #0fd6f3;
    }
}







.footer-bottom{
    width: 100%;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: #ccc;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.btn-primary{
    background-color:rgba(255, 153, 0, 1);
    border-color:rgba(255, 153, 0, 1);
}
.btn-primary:hover{
    color:#fff;
    background-color:rgba(255, 153, 0, 1);
    border-color:rgba(255, 153, 0, 1);
}
.btn-primary.focus,.btn-primary:focus{
     box-shadow:0 0 0 .2rem rgba(13,220,235,.5);
}
.btn-primary.disabled,.btn-primary:disabled{
    color:#fff;
    background-color:#09DEF3;
    border-color:#09DEF3;
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle{
    color:#fff;
    background-color:#09DEF3;
    border-color:#09DEF3;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus{
    box-shadow:0 0 0 .2rem rgba(13,220,235,.5);
}
.form-control:focus{
    box-shadow:0 0 0 .2rem rgba(13,220,235,.5);
}
.new-news{
    position: relative;
    top: -6px;
}
/*modal*/
#myModal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    border-radius: 5px;
    z-index: 999999;

}
#myModal .modal-content{
    padding: 20px;
    box-sizing: border-box;
}
#myModal .modal-content #field_Email {
    width: 70%;
    height: 30px;
    margin-top:10px;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    background: #f5f5f5;

}
#myModal P ,#sub_Form{
    color: #333;
}

#myModal .modal-dialog  {
    padding:20px 28px 10px 28px;
    box-sizing: border-box;
    font-size:16px;
    font-weight: normal;
    text-align: center;
}

#myModal .modal-content .btn {
    /*width: 20%;*/
    height:32px;
    color: #ffffff;
    background: #0dc8e2;
    border:none;
}

/*.selectshake{*/

/*}*/

@media screen and (max-width: 992px){
    #navBar{
        display: block;
    }
    #pull{
        display: block;
    }
    .navbar-expand-lg .navbar-collapse{
        position: static;
    }
    .navbar-expand-lg .navBar-nav{
        position: static;
        /*right: 0;*/
        font-size: 16px;
        /*font-weight: bold;*/
    }
    .navbar-light .navBar-nav .nav-link{
        padding: 10px 10px;
        line-height: 30px;
    }
}
@media screen and (max-width: 768px) {

    body,html{
        width: 100%;
        height: 100%;
    }
    .navbar-toggler{
        font-size: 12px;
    }
    .navbar-expand-lg{
        padding: 10px 15px;
    }
    .navbar-brand span{
        font-size: 18px;
        top: 2px;
    }
    .navbar-brand img{
        width: 34px;
    }
    .navbar-expand-lg .navBar-nav .nav-item{
        font-size: 14px;
    }

    .posi-wallet{
        color: #fff;
        font-size: 10px;
    }
    .navbar-brand{
        margin-right: 0;
    }
    .posi-wallet img{
        height: 14px;
    }
    .footer{
        padding: 0 20px;
        padding-top: 30px;
    }
    #list-wraper{
        max-width: 400px;
        margin: 0 auto;
    }
    #list-wraper li a{
        outline: none;
        border: none;
    }
    #footer-link{
        max-width: 300px;
        margin: 0 auto;
    }
    #footer-link div{
        padding:10px;
    }
    #footer-link div a{
        width: 30px;
        height: 30px;
    }

    #footer-link div:hover span{
        display:none;
    }
    #navBar{
        top: 59px;
    }

    .navBar .navBar-nav .nav-link{
        font-size: 10px;
        padding: 0;
        height: 30px;
        line-height: 30px;
    }
    .navBar .navBar-nav .nav-item{
        padding: 0 2px;
        height: 30px;
        line-height: 30px;
    }
    #pull{
        height: 30px;
        top: 59px;
    }
    #pull img{
        width: 20px;
        margin-top: 5px;
    }
    .navBar .navBar-nav .nav-download .nav-link{
        height: 20px;
        line-height: 20px;
    }
    .footer-bottom{
        font-size: 10px;
    }
}

.subscribe{
    padding: 2px 15px;
    font-size:20px;
    position: relative;
    top: -7px;
}

