html {
  overflow-x: hidden;
}
header {
  z-index: 1000;
}
header .btn {
  overflow: hidden;
}
header .btn > span:first-child {
  position: relative;
  left: -100%;
}
header .btn > span:last-child {
  position: relative;
  left: -20px;
}
header .btn:hover > span:first-child {
  transition: all .3s;
  left: 50px;
}
header .btn:hover > span:last-child {
  transition: all .5s;
  left: 200px;
}
canvas {
  position: absolute;
  top: 85px;
  left: 0;
  background: #252b32;
  z-index: -1;
}
.news {
  overflow-y: hidden;
  padding: 0 120px;
}
.news h3 {
  color: white;
}
.news p {
  text-indent: 30px;
}
.resources {
  transition: all 2s;
  opacity: 0;
  filter: alpha(opacity=0);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.wrap {
  position: relative;
  z-index: 10;
  width: 100%;
  background: white;
}
.cover {
  width: 100px;
  height: 290px;
}
a.txt4 span {
  text-decoration: underline;
  font-size: 21px;
}
/*view all records*/
a.txt2 span {
  text-decoration: underline;
}
header {
  height: 100%;
  display: flex;
  align-items: center;
}

.page-show {
  position: absolute;
  left: 0;
  top: 85px;
  width: 100%;
  height: 100%;
}
.dian {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-55px);
  -moz-transform: translateY(-55px);
  -ms-transform: translateY(-55px);
  -o-transform: translateY(-55px);
  transform: translateY(-55px);
  text-align: center;
  z-index: 1300;
}
.dian ul {
  text-align: center;
  width: 14px;
  list-style: none;
}
.dian li {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  cursor: pointer;
}
.dian .da {
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(-3px);
  -moz-transform: translateX(-3px);
  -ms-transform: translateX(-3px);
  -o-transform: translateX(-3px);
  transform: translateX(-3px);
}
.navbar {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 111;
}

.container-wrapper.features {
  margin-top: -80px;
}
.nav.nav-pills li {
  display: inline-block;
}




.col-md-12 ul.features-icon-list li {
  width: 100%;
  margin: 0 0 25px;
}
ul.features-icon-list li h3,
ul.features-icon-list li p {
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}
ul.features-icon-list li [class^="fa-"],
ul.features-icon-list li [class*=" fa-"] {
  top: 50%;
  margin-top: -20px;
}
.page-show,
.panel-block {
  width: 100%;
  height: 100%;
}
.container-top {
  padding-top: 45px;
}
.container.container-top .row {
  margin-bottom: 20px;
}
/*how to mine*/
.tagline {
  color: yellow;
}
.h-mine {
  background: #3b4552;
  overflow-x: hidden;
}
.mine {
  overflow: hidden;
  list-style: none;
  text-align: left;
}
.mine > li {
  font-size: 18px;
  padding-left: 20px;
}
.mine > li > span {
  color: white;
}
#how-to-mine .tagline {
  position: relative;
  -webkit-transform: translateY(200px);
  -moz-transform: translateY(200px);
  -ms-transform: translateY(200px);
  -o-transform: translateY(200px);
  transform: translateY(200px);
  opacity: 0;
  filter: alpha(opacity=0);
}
#how-to-mine.run .tagline {
  -webkit-animation: run-tagline 0.8s forwards;
  -o-animation: run-tagline 0.8s forwards;
  animation: run-tagline 0.8s forwards;
}
@keyframes run-tagline {
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.init {
  position: relative;
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
  opacity: 0;
  filter: alpha(opacity=0);
}
.steps {
  position: relative;
  -webkit-transform: translate(300px, 200px);
  -moz-transform: translate(300px, 200px);
  -ms-transform: translate(300px, 200px);
  -o-transform: translate(300px, 200px);
  transform: translate(300px, 200px);
  color: white;
  opacity: 0;
  filter: alpha(opacity=0);
}
#how-to-mine.run .steps {
  -webkit-animation: run-steps 1s 0.5s forwards;
  -o-animation: run-steps 1s 0.5s forwards;
  animation: run-steps 1s 0.5s forwards;
}
@keyframes run-steps {
  50% {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);
    opacity: 0.5;
    filter: alpha(opacity=50);
  }
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.steps1 {
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
  opacity: 0;
  filter: alpha(opacity=0);
}
#how-to-mine.run .steps1 {
  -webkit-animation: run-steps1 1s 1.5s forwards;
  -o-animation: run-steps1 1s 1.5s forwards;
  animation: run-steps1 1s 1.5s forwards;
}
@keyframes run-steps1 {
  100% {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
.mine-link {
  opacity: 0;
  filter: alpha(opacity=0);
  color: white;
}
#how-to-mine.run .mine-link {
  -webkit-animation: link-ani 1s 2s forwards;
  -o-animation: link-ani 1s 2s forwards;
  animation: link-ani 1s 2s forwards;
}
@keyframes link-ani {
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
}


header .header-icon{
  bottom: 50%;
  margin-bottom: -150px;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .col-md-12 ul.features-icon-list li {
    margin-bottom: 15px;
  }
  header .header-icon {
    margin-bottom: -150px;
  }
  /*button*/
  header .btn {
    padding: 0px 0px;
  }
  ul.features-icon-list li {
    margin: 0 0 20px;
  }
  ul.features-icon-list li h3,
  ul.features-icon-list li p {
    width: 39%;
  }

  header .container{
    padding: 75px 0 0 75px;
  }
}



@media (min-width: 768px) and (max-width: 992px) {
  ul.features-icon-list li h3,
  ul.features-icon-list li p {
    width: 100%;
  }
  header.header {
    padding: 80px 0 0 0;
  }
  header .container {

    height: 800px;
    padding: 75px 0 0 0;
  }
  header .header-icon {
    bottom: 120px;
    left: 50%;
    margin-left: -150px;
    margin-bottom: 0;
  }
  .panel-block > div,
  .header {
    height: auto;
  }
}
.hid {
  -webkit-animation: hid1 1s 1 forwards;
  -o-animation: hid1 1s 1 forwards;
  animation: hid1 1s 1 forwards;
}
.show {
  -webkit-animation: show1 1s 1 forwards;
  -o-animation: show1 1s 1 forwards;
  animation: show1 1s 1 forwards;
}
@keyframes hid1 {
  from {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
  }
}
@keyframes show1 {
  from {
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  to {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.resources .container {
  padding-top: 35px;
}


@media(max-width: 767px){
  header .header-icon{
    margin-left:0;
  }
}





@media (max-width: 480px) {

  header.header{
    height: 800px;
    display: block;
    padding: 30px 0 0 0;
  }
  header .container{
   overflow: hidden;
    height: 100%;
    padding: 25px;
  }

  header .header-icon{
    bottom: 90px;
    left:50%;
    margin-left: -100px;
    margin-bottom: 0;
    width: 200px;
    height: 200px;
    background-size: cover;

  }
  header.header .btn{
    width: 200px;
    height: 55px;
    margin-right:0px;
  }


}
